@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 6.25rem;
    background-color: #FFDE59;
    flex: 1 0 auto;
}

footer{
    height:6.25rem;
    background-color: #131A35;
    flex: 0 0 auto;
}

.sign{
    text-decoration: none;
    color:#000000;
}

.header_content{
    display: flex;
    margin-left: 15rem;
    margin-right: 15rem;
    gap: 8.438rem;
    align-items: center;
}

#inp_txt{
    width: 44rem;
    height: 2.688rem;
    margin-top: 1.938rem;
    margin-bottom: 1.625rem;
    background-color: #C4C4C4;
    border: none;
    outline: none;
}

.soc_nw{
    display: flex;
    gap:3.188rem;
    align-items: center;
}

.logo{
    width: 5.313rem;
    height: 5.313rem;
}

.content{
    display: flex;
    flex-direction: column;
    margin-bottom: 9.125rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b{
    width: 15.625rem;
    height: 11.25rem;
    background-color: #131A35;
}

.blocks{
    margin-top: 3rem;
    display: flex;
    gap: 5.188rem;
}

.category{
    margin-top: 9.125rem;
}

.all_afish{
    margin-top: 10.875rem;
    text-decoration: none; 
    color:#000000;
}

.end_text{
    display: flex;
    align-items: start;
    justify-content: flex-end;
}

.footer_content{
    display: flex;
    margin-left: 15rem;
    margin-right: 15rem;
    gap: 60%;
    align-items: center;
}

.social_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.813rem;
}

.soc_nw_bot{
    display: flex;
    gap:3.25rem;
    width: 15.375rem;
    height: 2.625rem;
}

.txt_soc{
    color:#FFDE59; 
    text-decoration: none;  
}